In [1]:
import pandas as pd

file=pd.read_csv("covid_19_clean_complete.csv")

In [2]:
file.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [3]:
file.shape

(49068, 10)

In [4]:
file.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

In [5]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [6]:
file.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

In [7]:
file.drop(columns = "Province/State" , axis=1, inplace=True)
file.head()

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [8]:
filtered_file_zeros = file[file['Active'] > 0]
filtered_file_zeros.head()

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
48,China,31.8257,117.2264,2020-01-22,1,0,0,1,Western Pacific
49,China,40.1824,116.4142,2020-01-22,14,0,0,14,Western Pacific
50,China,30.0572,107.8740,2020-01-22,6,0,0,6,Western Pacific
51,China,26.0789,117.9874,2020-01-22,1,0,0,1,Western Pacific
53,China,23.3417,113.4244,2020-01-22,26,0,0,26,Western Pacific

In [9]:
filtered_file_negative = file[file['Active'] < 0]
filtered_file_negative.head()

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
16238,China,19.1959,109.7453,2020-03-24,168,6,168,-6,Western Pacific
16499,China,19.1959,109.7453,2020-03-25,168,6,168,-6,Western Pacific
16760,China,19.1959,109.7453,2020-03-26,168,6,168,-6,Western Pacific
17021,China,19.1959,109.7453,2020-03-27,168,6,168,-6,Western Pacific
17282,China,19.1959,109.7453,2020-03-28,168,6,168,-6,Western Pacific

In [10]:
file.loc[file['Active'] == 0, 'Active'] = pd.NA
file.loc[file['Active'] < 0, 'Active'] = pd.NA
file.iloc[:10]

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,NaN,Eastern Mediterranean
1,Albania,41.15330,20.168300,2020-01-22,0,0,0,NaN,Europe
2,Algeria,28.03390,1.659600,2020-01-22,0,0,0,NaN,Africa
3,Andorra,42.50630,1.521800,2020-01-22,0,0,0,NaN,Europe
4,Angola,-11.20270,17.873900,2020-01-22,0,0,0,NaN,Africa
5,Antigua and Barbuda,17.06080,-61.796400,2020-01-22,0,0,0,NaN,Americas
6,Argentina,-38.41610,-63.616700,2020-01-22,0,0,0,NaN,Americas
7,Armenia,40.06910,45.038200,2020-01-22,0,0,0,NaN,Europe
8,Australia,-35.47350,149.012400,2020-01-22,0,0,0,NaN,Western Pacific
9,Australia,-33.86880,151.209300,2020-01-22,0,0,0,NaN,Western Pacific

In [11]:
file_with_nan = file 
file_with_nan.isnull().head(10)

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,True,False

In [12]:
file_with_drop = file_with_nan.dropna()
file_with_drop.iloc[:10]

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
48,China,31.8257,117.2264,2020-01-22,1,0,0,1.0,Western Pacific
49,China,40.1824,116.4142,2020-01-22,14,0,0,14.0,Western Pacific
50,China,30.0572,107.8740,2020-01-22,6,0,0,6.0,Western Pacific
51,China,26.0789,117.9874,2020-01-22,1,0,0,1.0,Western Pacific
53,China,23.3417,113.4244,2020-01-22,26,0,0,26.0,Western Pacific
54,China,23.8298,108.7881,2020-01-22,2,0,0,2.0,Western Pacific
55,China,26.8154,106.8748,2020-01-22,1,0,0,1.0,Western Pacific
56,China,19.1959,109.7453,2020-01-22,4,0,0,4.0,Western Pacific
57,China,39.5490,116.1306,2020-01-22,1,0,0,1.0,Western Pacific
59,China,37.8957,114.9042,2020-01-22,5,0,0,5.0,Western Pacific

In [13]:
file_with_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34899 entries, 48 to 49067
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  34899 non-null  object
 1   Lat             34899 non-null  float64
 2   Long            34899 non-null  float64
 3   Date            34899 non-null  object
 4   Confirmed       34899 non-null  int64
 5   Deaths          34899 non-null  int64
 6   Recovered       34899 non-null  int64
 7   Active          34899 non-null  float64
 8   WHO Region      34899 non-null  object
dtypes: float64(3), int64(3), object(3)
memory usage: 2.7+ MB

In [14]:
file_with_drop["Active"] = file_with_drop["Active"].astype(int)
file_with_drop["Active"].dtypes

C:\Users\mahmo\AppData\Local\Temp\ipykernel_9064\1217144505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_with_drop["Active"] = file_with_drop["Active"].astype(int)

dtype('int64')

In [15]:
print("\nCategorical Columns Summary:")
print(file_with_drop.describe(include=['object']))

Categorical Columns Summary:
       Country/Region        Date WHO Region
count           34899       34899      34899
unique            187         188          6
top             China  2020-04-13     Europe
freq             4135         249      10526

In [16]:
sorted_by_active = file_with_drop.sort_values(by='Active', ascending=False)
sorted_by_active.iloc[:10]

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49030,US,40.0,-100.0,2020-07-27,4290259,148011,1325804,2816444,Americas
48769,US,40.0,-100.0,2020-07-26,4233923,146935,1297863,2789125,Americas
48508,US,40.0,-100.0,2020-07-25,4178970,146465,1279414,2753091,Americas
48247,US,40.0,-100.0,2020-07-24,4112531,145560,1261624,2705347,Americas
47986,US,40.0,-100.0,2020-07-23,4038816,144430,1233269,2661117,Americas
47725,US,40.0,-100.0,2020-07-22,3970121,143316,1210849,2615956,Americas
47464,US,40.0,-100.0,2020-07-21,3899211,142121,1182018,2575072,Americas
47203,US,40.0,-100.0,2020-07-20,3834677,141025,1160087,2533565,Americas
46942,US,40.0,-100.0,2020-07-19,3773260,140534,1131121,2501605,Americas
46681,US,40.0,-100.0,2020-07-18,3711413,140119,1122720,2448574,Americas

In [17]:
file_with_drop.to_csv('covid_19.csv', index=False)
print("Filtered data saved to co.csv.")

Filtered data saved to co.csv.